* {
    box-sizing: border-box;
}
body {
    background-color: gray;
}
#container {
    width: 100%;
    text-align: center;
    font-size: 18px;
}

/********
******The header element *****
********/

.header {
    width: 100%;
    height: 600px;
    background-color: black;
}
img {
    float: left;
    margin: 0 0;
    padding: 4px 10px;
}
nav {
    width: 80%;
    text-align: center;
}
nav ul {
    list-style-type: none;
}
nav ul li {
    margin-top: 0.5%;
    display: inline-block;
}
nav ul li a {
    font-size: 80%;
    text-decoration: none;
    margin-right: 10px;
    color: snow;
}
.fa-ul {
    width: 12%;
    float: right;
    color: snow;
}
.fa-ul li {
    display: inline-block;
    margin-right: 4%;
}
.fa-ul li a {
    text-decoration: none;
    color: snow;
}
.cont {
    margin-top: 10%;
    width: 100%;
    text-align: center;
}
h1 {
    font-size: 200%;
    color: snow;
    text-transform: uppercase;
    line-height: 200%;
}
p {
    font-size: 70%;
    color: snow;
}
#button {
    width: 16%;
    height: 4%;
    background-color: snow;
    margin-left: 42%;
}
#button p {
    color: gray;
    text-align: center;
    padding-top: 5%;
    font-size: 100%;
    text-transform: uppercase;
}

/* Second row */

.row {
    width: 100%;
    height: 600px;
}
.aside1 {
    width: 50%;
    height: 600px;
    float: left;
    background-color: aliceblue;
}
.aside1 p {
    color: black;
    line-height: 20px;
    font-size: 100%;
    margin-left: 40%;
    margin-top: 10%;
    text-align: left;
}
.aside1 h1 {
    color: black;
    margin-left: 40%;
    text-transform: uppercase;
}
.aside2 {
    width: 100%;
    height: 600px;
    background-color: crimson;
}
.aside2 h4 {
    color: gray;
    text-transform: uppercase;
    font-size: 150%;
    margin-left: 60%;
    padding-top: 16%;
}
.aside2 h3 {
    color: snow;
    text-transform: uppercase;
    font-size: 180%;
    margin-left: 60%;
}
.aside2 p {
    color: gray;
    font-size: 90%;
    line-height: 200%;
    margin-left: 60%;
}
.box1 {
    width: 100%;
    height: 150px;
    background-color: grey;
}
#button2 {
    margin-top: 2%;
    width: 40%;
    height: 8%;
    background-color: crimson;
    margin-left: 20%;
    color: snow;
    text-transform: uppercase;
    padding-left: 7%;
    padding-top: 2%;
    font-size: 110%;
}
#row-cont {
    color: black;
    height: 50px;
    font-size: 90%;
    margin-bottom: 100%;
}

/* adding content to 3rd row*/

.row1 {
    width: 100%;
    height: 600px;
    background-color: snow;
}
.aside3 {
    width: 50%;
    height: 600px;
    padding-top: 5%;
    text-align: center;
    float: left;
}
.aside3 h1 {
    color: black;
    font-size: 170%;
}
.aside3 p {
    color: black;
    font-size: 100%;
    text-align: left;
    padding-left: 20%;
}
.aside4 {
    width: 100%;
    height: 600px;
    padding-left: 20%;
}
.aside4 img {
    padding-left: 10%;
}
#button3 {
    width: 30%;
    height: 7%;
    background-color: crimson;
    margin-left: 35%;
}
#button3 p {
    color: snow;
    text-align: center;
    padding-top: 7%;
    padding-right: 4%;
    font-size: 100%;
    text-transform: uppercase;
}
.row2 {
    width: 100%;
    height: 400px;
    background-color: snow;
}
.col1 {
    float: left;
    width: 33.33%;
    padding-left: 8%;
    height: 400px;
}
.col2 {
    float: left;
    width: 66.66%;
    height: 400px;
}
.col3 {
    float: left;
    width: 100%;
    height: 400px;
}
.row2 h6 {
    color: crimson;
    padding-left: 15px;
    font-size: 100%;
}
.row2 p {
    color: black;
    font-size: 80%;
}
.row3 {
    width: 100%;
    height: 600px;
    background-color: snow;
    padding-left: 7%;
}
.row3 li {
    display: inline-block;
}
.row3 h3 {
    text-transform: uppercase;
    text-align: justify;
    font-size: 200%;
}
.row3 p {
    color: black;
}
.row3-1 li,
.row3-2 li {
    widows: 100%;
    margin-right: 16%;
    margin-bottom: 2%;
}

/****
****Start of row4***
*****/

.row4 {
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: dimgrey;
}
